
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" ng-controller="HeaderCtrl">
  <div class="container container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MAIN SITE</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-repeat="item in menuItemLeft">
        <li ng-class="{'active': isActive('{{item.url}}')}" ng-click="$eval(item.func)" ng-show="isVisible({{item}})">
          <a href="{{item.url}}">{{item.name}}
            <span ng-if="isActive('{{item.url}}')" class="sr-only">
              (current)
            </span>
          </a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{lang.name}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li ng-repeat="lang in langs" ng-click="changeLanguage(lang.short)"><a href="#">{{lang.name}}</a></li>
            </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-repeat="item in menuItemRight">
        <li ng-class="{'active': isActive('{{item.url}}')}" ng-click="$eval(item.func)" ng-show="isVisible({{item}})">
          <a href="{{item.url}}">{{item.name}}
            <span ng-if="isActive('{{item.url}}')" class="sr-only">
              (current)
            </span>
          </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    </div>
  </div>
</nav>
