<div>

  <form
    novalidate
    ng-submit="login(loginForm.$valid)"
    name="loginForm">

    <div class="form-group">
      <label for="email" translate>LABEL.EMAIL</label>
      <input
        id="name"
        name="email"
        class="form-control"
        placeholder="{{'PLACEHOLDER.EMAIL' | translate}}"
        type="email"
        ng-model="user.email"
        ng-maxlength="50"
        required>

      <div ng-show='isSubmitted'>
        <div ng-messages="loginForm.email.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

          <div class="errorMsg"
            ng-message="email"
            translate>VALIDATION.INVALID_EMAIL</div>
            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="password" translate>LABEL.PASSWORD</label>
      <input
        id="password"
        name="password"
        class="form-control"
        placeholder="{{'PLACEHOLDER.PASSWORD' | translate}}"
        type="password"
        ng-model="user.password"
        ng-minlength="4"
        ng-maxlength="50"
        required>

        <div ng-show='isSubmitted'>
          <div ng-messages="loginForm.password.$error" class="messages" />
            <div class="errorMsg"
              ng-message="required"
              translate>VALIDATION.REQUIRED</div>

              <div class="errorMsg"
                ng-message="maxlength"
                translate>VALIDATION.MAX</div>

                <div class="errorMsg"
                  ng-message="minlength"
                  translate>VALIDATION.MIN</div>
          </div>
        </div>
        <!--
      <div ng-show='isSubmitted && loginForm.password.$error.required'>
        <p class="errorMsg" translate>VALIDATION.REQUIRED</p>
      </div>
    -->
    </div>

    <div class="alert alert-danger" ng-show="error">
      {{msg}}
    </div>

    <div ng-show='isSubmitted && loginForm.$invalid'>
      <p class="errorMsg" translate>VALIDATION.FORM_NOT_FILLED</p>
    </div>

    <button
      type="submit"
      class="btn btn-default"
      ng-disabled="loading"
      translate>
      PLACEHOLDER.LOGIN
    </button>

  </form>


  <script type="text/ng-template" id="templateId">
      <h1>Template heading</h1>
      <p>Content goes here</p>
  </script>

</div>
