<div>

  <form
    novalidate
    name="signupForm"
    ng-submit="signup(signupForm.$valid)">

    <div class="form-group">
      <label for="name" translate>LABEL.NAME</label>
      <input
        id="name"
        name="name"
        class="form-control"
        placeholder="{{'PLACEHOLDER.NAME' | translate}}"
        type="text"
        ng-model="user.name"
        ng-minlength="2"
        ng-maxlength="50"
        ng-required="true" />

        <div ng-show='isSubmitted'>
          <div ng-messages="signupForm.name.$error" />
            <div class="errorMsg"
              ng-message="required"
              translate>VALIDATION.REQUIRED</div>

              <div class="errorMsg"
                ng-message="maxlength"
                translate>VALIDATION.MAX</div>

                <div class="errorMsg"
                  ng-message="minlength"
                  translate>VALIDATION.MIN</div>
          </div>
        </div>
    </div>

    <div class="form-group">
      <label for="lastname" translate>LABEL.LASTNAME</label>
      <input
        id="lastname"
        name="lastname"
        class="form-control"
        placeholder="{{'PLACEHOLDER.SURNAME' | translate}}"
        type="text"
        ng-model="user.lastname"
        ng-minlength="2"
        ng-maxlength="50"
        required/>
      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.lastname.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

              <div class="errorMsg"
                ng-message="minlength"
                translate>VALIDATION.MIN</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="address" translate>LABEL.ADDRESS</label>
      <input
        id="address"
        name="address"
        class="form-control"
        placeholder="{{'PLACEHOLDER.ADDRESS' | translate}}"
        type="text"
        ng-model="user.address"
        ng-minlength="4"
        ng-maxlength="50"
        required/>
      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.address.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

              <div class="errorMsg"
                ng-message="minlength"
                translate>VALIDATION.MIN</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="birthdate" translate>LABEL.BIRTHDATE</label>
      <input
        id="birthdate"
        name="birthdate"
        class="form-control"
        placeholder="{{'PLACEHOLDER.BIRTHDATE' | translate}}"
        type="date"
        max="{{minAge | date:'yyyy-MM-dd'}}"
        ng-model="user.birthdate"
        required/>
      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.birthdate.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>
            <div class="errorMsg"
              ng-message="max"
              translate>VALIDATION.ADULT</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="cell" translate>LABEL.CELL</label>
      <input
        id="cell"
        name="cell"
        class="form-control"
        placeholder="{{'PLACEHOLDER.CELL' | translate}}"
        type="tel"
        ng-model="user.cell"
        ng-minlength="10"
        ng-maxlength="20"
        ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]/"
        required/>
      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.cell.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

            <div class="errorMsg"
              ng-message="pattern"
              translate>VALIDATION.PATTERN.PHONE</div>

            <div class="errorMsg"
              ng-message="minlength"
              translate>VALIDATION.MIN</div>

        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email" translate>LABEL.EMAIL</label>
      <input
        id="email"
        name="email"
        class="form-control"
        placeholder="{{'PLACEHOLDER.EMAIL' | translate}}"
        type="email"
        ng-model="user.email"
        ng-minlength="5"
        ng-maxlength="50"
        required/>

      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.email.$error" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

          <div class="errorMsg"
            ng-message="email"
            translate>VALIDATION.INVALID_EMAIL</div>
            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>
            <div class="errorMsg"
              ng-message="minlength"
              translate>VALIDATION.MIN</div>
        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="password" translate>LABEL.PASSWORD</label>
      <input
        id="password"
        name="password"
        class="form-control"
        placeholder="{{'PLACEHOLDER.PASSWORD' | translate}}"
        type="password"
        ng-model="user.password"
        ng-minlength="8"
        ng-maxlength="50"
        required/>

      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.password.$error" class="messages" />
          <div class="errorMsg"
            ng-message="required"
            translate>VALIDATION.REQUIRED</div>

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

              <div class="errorMsg"
                ng-message="minlength"
                translate>VALIDATION.MIN</div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="addressNum" translate>LABEL.ADDRESSNUM</label>
      <input
        id="addressNum"
        name="addressNum"
        class="form-control"
        placeholder="{{'PLACEHOLDER.ADDRESS_NUM' | translate}}"
        type="text"
        ng-model="user.addressNum"
        ng-maxlength="10" />

      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.addressNum.$error" class="messages" />

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

        </div>
      </div>

    </div>

    <div class="form-group">
      <label for="ring" translate>LABEL.RING</label>
      <input
        id="ring"
        name="ring"
        class="form-control"
        placeholder="{{'PLACEHOLDER.RING' | translate}}"
        type="text"
        ng-model="user.ring"
        g-maxlength="50" />

      <div ng-show='isSubmitted'>
        <div ng-messages="signupForm.ring.$error" class="messages" />

            <div class="errorMsg"
              ng-message="maxlength"
              translate>VALIDATION.MAX</div>

        </div>
      </div>

    </div>

    <button
      type="submit"
      class="btn btn-default"
      translate>
      PLACEHOLDER.SIGNUP
    </button>

  </form>

</div>
