body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*
.active {
  background-color: green;
}
*/
.langPanel{
  float:right;
  position:relative;
}

.ng-cloak {
  display: none !important;
}
.translate-cloak {
     display: none !important;
     background: blue;
}

.messages{
  display: block;
}

.errorMsg{
  color:red;
  display: block;
}

/* when hiding the picture */
.ng-hide-add         { animation:0.5s lightSpeedOut ease; }

/* when showing the picture */
.ng-hide-remove      { animation:0.5s flipInX ease; }

.centerText{
  text-align: center;
}



.errorMsg.ng-move,
.errorMsg.ng-leave {
   animation:0.5s lightSpeedOut ease;
}
.errorMsg.ng-enter{
  animation:0.5s flipInX ease;
}
.errorMsg.ng-leave.ng-leave-active,
.errorMsg.ng-move,
.errorMsg.ng-enter {
    opacity:0;
    max-height:0;
}

.errorMsg.ng-leave,
.errorMsg.ng-move.ng-move-active,
.errorMsg.ng-enter.ng-enter-active {
    opacity:1;
    max-height:30px;
}





/* ANIMATIONS (FROM ANIMATE.CSS) ======================== */
/* flip in */
@keyframes flipInX {
  0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transition-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transition-timing-function: ease-in;
    transition-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
    transform: perspective(400px);
    transform: perspective(400px);
  }
}

/* light speed out */
@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100px, 0, 0) skewX(30deg);
    transform: translate3d(100px, 0, 0) skewX(30deg);
    opacity: 0;
  }
}

@keyframes lightSpeedOut {
  0% {
    opacity: 1;
  }

  100% {
    transform: translate3d(100px, 0, 0) skewX(30deg);
    transform: translate3d(100px, 0, 0) skewX(30deg);
    transform: translate3d(100px, 0, 0) skewX(30deg);
    opacity: 0;
  }
}
