
<div class="centerText">
  <h1 translate>MODAL.ERROR.TITLE</h1>

  <p translate>MODAL.ERROR.PTAG</p>

  <button class="btn btn-default" translate ng-click="closeThisDialog()">
    MODAL.ERROR.BUTTON
  </button>
</div>
