
<div class="centerText">
  <h1 translate>MODAL.LOGIN.WELCOME</h1>

  <p translate>MODAL.LOGIN.PTAG</p>

  <button class="btn btn-default" translate ng-click="closeThisDialog()">
    MODAL.LOGIN.BUTTON
  </button>
</div>
